.categoryBox {
  text-align: center;
  border-radius: 15px;
  font-family: 'Cormorant Garamond', serif;
  border: 2px solid rgb(210, 108, 159);
  margin-top: 20px;
  padding-left: 50px;
  padding-bottom: 20px;
  margin-left: 50px;
}

.brandMenu {
  padding-top: 140px;
  /* padding-left:410px; */
}

.brandMenu span {
  padding-left: 35px;
}

div.row {
  display: flex;
  width: 50% auto;
}
