
.qna {
  display: none;
  text-align: center;
  padding-bottom: 10px;
  margin-top: 170px;
  margin-bottom: 200px;
  font-family: 'Nanum Myeongjo', serif;
}

.btnImg {
  background-color: white;
  border: none;
}

button img {
  height: 330px;
  width: 330px;
}


.btnQsex {
  padding: 14px 40px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  transition-duration: 0.4s;
}

.btnQsex:hover {
  color:white;
}


#qSex {
  margin-bottom: 480px;
  margin-top: 200px;
}
.btn_gotobrand{
  background-color:#9999CC;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius:3px;
}
.btn_gotobrand:hover{
  background-color: #4B4B4B;
  color: white;
}
