.details{
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  border:5px solid rgba(210,108,159,0.5);
  border-radius: 20px;
  padding:12px;
}
.recommended{
  border:5px solid rgba(210,108,159,0.5);
  border-radius: 20px;
}
#review{
  height:100px;
}
#first{
  height:60px;
  background-color: red;
}
#second{
  height:60px;
}
#third{
  height:60px;
}
img{
  margin:0;
}
div.row{
  display:flex;
  width:100%;
}

        .review_row{
          padding-top: 8px;
          padding-bottom: 8px;
          padding-left: 6px;
          padding-right: 10px;
          background:#FBEFF2;
          color: black;
        }

        .review_content{
          width:100%;
          clear:both;
          color:black;
        }
        .review_date{
          background: #FBEFF2;
          width:100%;
          clear:both;
          text-align: right;
          color:black;
        }

        #btn_coment{
          background-color: #F5A9BC;
          color:white;
          border:none;
          border-radius: 5px;
          width: 55px;
        }
